{% extends 'Gestion/base.html' %}
{% block body %}
<h2>Gestion de Pedidos</h2>
<p> </p>

<form class="form-inline"  action="createPedido" method="POST">
    {% csrf_token %}
     <div class="form-group">
     <label for="paciente">Paciente</label>
        <select name="paciente" class="form-control" style="width:90%;" required="required">Paciente
        {% for paciente in members %}
            <option>{{paciente.id}}-{{paciente.apellidos}}, {{paciente.nombres}}</option>
        {% endfor %}
        </select>
        <p></p>
    </div>
    <div class="form-group">
     <label for="formapago">Forma de Pago </label>
        <select name="formapago" class="form-control" style="width:60%;" required="required">
            <option>Efectivo</option>
            <option>Tarjeta Credito</option>
            <option>Tarjeta Debito</option>
            <option>Billereta Virtual</option>
        </select>
        <p></p>
    </div>
    <!--<div class="form-group">
    <label for="fecha">Fecha</label>
        <input type="datetime-local" name="fecha" class="form-control" style="width:75%;" required="required"/>
    </div>-->
    <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar</button> <a href="crudPedidos">Limpiar</a>
    </div>
</form>
<br />
<form class="form-inline"  action="" method="POST">
    {% csrf_token %}
    <table class="table table-bordered">
        <thead class="alert-warning">
            <tr>
                <th>Nro Pedido</th>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>F Pago</th>
                <th>Total</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.id_paciente }}</td>
                <td>{{ pedido.fecha }}</td>
                <td>{{ pedido.estado }}</td>
                <td>{{ pedido.pago }}</td>
                <td>${{ pedido.total }}</td>
                <td><center><a class="btn btn-sm btn-warning" href="editpedido/{{ pedido.id }}"><span class="glyphicon glyphicon-edit"></span> Editar Pedido</a><a class="btn btn-sm btn-warning" href="editpedidoproducto/{{ pedido.id }}"><span class="glyphicon glyphicon-edit"></span> Lista Product</a></center></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<p> </p>
<a href="bienvenida">Volver</a>

{% endblock %}